body{
    background: url(fondo1.jpg);
    background-size: 100%;
}
table{
    border-collapse: collapse;
}
th{
    font-style: italic;
    font-size: larger;
    background-color: black;
    color: white;
}
th,td{
    border: 2px solid gray;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
h1{
    color: rgb(23, 23, 143);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
}
td{
    font-size: 17px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(208, 232, 253, 0.822);
}
td:hover{
    background-color: white;
}
tr:nth-child(even){
    background-color: rgba(106, 164, 214, 0.822);
}
